@use 'helpers' as *;

@keyframes pressing {
    from {
        height: 23px;
        top: 0;
    } to {
        height: 14px;
        top: 9px;
    }
}

@keyframes release {
    from {
        height: 14px;
        top: 9px;
    } to {
        height: 23px;
        top: 0;
    }
}

.btn:active:not(.btn2) {
    @include a-press;
}

.active {
    @include a-press;
    animation-fill-mode: forwards;
}

.release {
    animation-name: release;
    animation-timing-function: linear;
    animation-duration: 0.08s;
    animation-fill-mode: forwards;
}