@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-size: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-size: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-size: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-dark-10: #1A1A1A;
  --color-dark-20: #2B2B2B;
  --font-family-base: "Poppins", sans-serif;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-base);
  color: var(--color-light);
  font-size: 200px;
}

.btn {
  display: block;
  cursor: pointer;
  width: 66px;
  height: 23px;
  background-color: var(--color-dark-10);
  border-radius: 8px 8px 0px 0px;
}

.hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@keyframes pressing {
  from {
    height: 23px;
    top: 0;
  }
  to {
    height: 14px;
    top: 9px;
  }
}
@keyframes release {
  from {
    height: 14px;
    top: 9px;
  }
  to {
    height: 23px;
    top: 0;
  }
}
.btn:active:not(.btn2) {
  animation-name: pressing;
  animation-duration: 0.08s;
  animation-timing-function: linear;
}

.active {
  animation-name: pressing;
  animation-duration: 0.08s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.release {
  animation-name: release;
  animation-timing-function: linear;
  animation-duration: 0.08s;
  animation-fill-mode: forwards;
}

.date {
  position: relative;
}

.current-date {
  font-size: 200px;
  font-weight: normal;
}

.date__list {
  display: flex;
  position: absolute;
  left: 0;
  top: 240px;
}

.date__item {
  font-size: 40px;
  margin-left: 90px;
}

.watch-container {
  display: flex;
  align-items: flex-end;
  height: 508px;
  width: 1025px;
}

.watch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 485px;
  background-color: var(--color-dark);
  border: 10px solid var(--color-dark-20);
  border-radius: 20px;
}

.time {
  font-size: 200px;
  font-weight: normal;
  display: inline-block;
}

.btn1 {
  position: absolute;
  left: calc(100% - 66px - 67px);
  top: 0;
}

.btn2 {
  position: absolute;
  left: calc(100% - 66px - 153px);
  top: 0;
}

.btn3 {
  position: absolute;
  left: calc(100% - 66px - 239px);
  top: 0;
}

.stopwatch {
  width: 550px;
  position: relative;
  text-align: center;
}

.stopwatch__time {
  font-size: 200px;
  font-weight: normal;
}

.stopwatch__text {
  position: absolute;
  left: 170px;
  top: 240px;
  font-size: 40px;
}

/*# sourceMappingURL=main.css.map */
